:root {
  --identity-color: rgb(255, 216, 42);
  --text-color: rgb(46, 45, 45);
  --standard-offset: 20px;
}



body {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", sans-serif;
  font-size: 14px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: minmax(200px, 20%) minmax(300px, auto);
  grid-template-rows: 1fr auto;
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  background-color: var(--identity-color);
}

#profile-picture {
  /* background-color: black; */
  margin: 20px 15%;
  width:70%;
  height: 300px;
  /* height:0; */
  /* padding-bottom: 50%; */
} 

#profile-picture img{
  width: 100%;
  border-radius: 50%;
  /* margin-top: ; */
} 



h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

li img {
  width: 20%;
  height: auto;
}

li {
  display: inline;
}

h1 {
  font-size: 4em;
}

h2{
  font-size: 2em;
}

#first-name {
  color: var(--identity-color);
}

.title-logo {
  width: 2em;
  height: 2em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
}

h3 {
  background-color: var(--text-color);
  color: var(--identity-color);
  text-align: center;
  font-size: 2em;
}

h4 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

h5 {
  font-size: 1em;
}

hr {
  border-top: 3px solid var(--identity-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.bullet-point div {
  display: inline;
}

article{
  margin:0 var(--standard-offset);
}

aside p{
  padding: 0 var(--standard-offset);
}

header{
  padding: 0 var(--standard-offset);
  margin: 0px 0px;
}

header hr{
  width: 150px;
  position:absolute;
}

.bullet-point{
  display: inline;
}

.event-description {
  width: 20%;
}

@media screen and (min-width: 1200px) {
  :root {
    --standard-offset: 40px;
  }
}