:root {
  --identity-color: rgb(255, 216, 42);
  --text-color: rgb(46, 45, 45);
  --standard-offset: 30px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", sans-serif;
  font-size: 13px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: minmax(200px, 23%) auto;
  grid-template-rows: 200px minmax(100vh, auto);
}

p {
  text-align: justify;
  margin: 5px 0;
}

aside {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  background-color: var(--identity-color);
}

#profile-picture {
  margin-top: var(--standard-offset);
  display: flex;
  justify-content: center;
  height: 150px;
} 

#profile-picture img{
  width:  150px;  
  height: 100%;
  box-sizing: border-box;
  
  border: 4px solid rgb(146, 132, 9);
  border-radius: 50%;
} 

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

li img {
  width: 20%;
  height: auto;
}

li {
  display: inline;
}

ul {
  padding-inline-start: var(--standard-offset);
}

#first-name {
  color: var(--identity-color);
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0;
  margin-top: 50px;
}

h2{
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 5px;
}

h3 {
  background-color: var(--text-color);
  color: var(--identity-color);
  text-align: center;
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
  margin: 0 10px;
}

.title-logo img{
  width: 2em;
  height: 2em;
}

.title-logo {
  display: flex;
  align-items: center;
  height: 40px;
}

h5 {
  font-size: 1em;
  margin: 0;
}

hr {
  border-top: 2px solid var(--identity-color);
  margin-top: 0;
  margin-bottom: 4em;
}

article{ 
  margin:0 var(--standard-offset);
}

aside p{
  padding: 0 var(--standard-offset);
}

header{
  padding: 0 var(--standard-offset);
}

header div {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

header hr{
  width: 6%;
  position:absolute;
}

.bullet-point{
  display: flex;
  margin-bottom: 30px;
  
}

.event-settings {
  width: 180px;
}

.event-description {
  flex : 1;
}

@media screen and (max-width: 650px) {
  :root {
    --standard-offset: 30px;
  }

  body {
    grid-template-columns: auto;
    grid-template-rows: 200px 750px auto;
  }

  header {
    
    grid-row: 1 / 2;
  }

  aside {
    grid-row: 2 / 3;
  }
}